$s-height: 0.5em;
$m-height: 1em;
$l-height: 1.5em;
$xl-height: 2em;

$s-width: 0.5em;
$m-width: 1em;
$l-width: 1.5em;
$xl-width: 2em;

$l-padding: 1.5rem;
$m-padding: 1em;
$s-padding: .5em;

$button-min-width: 4em;
$button-m-height: 2.25em;
$button-radius: 0.18em;
$button-font-size: 0.875em;

$standard-element-height: 3rem;
$tab-min-width: 5.6rem;
$tab-max-width: 22.5rem;