$s-height: 0.5em;
$m-height: 1em;
$l-height: 1.5em;

$l-padding: 1.5rem;
$m-padding: 1em;
$s-padding: .5em;

$button-min-width: 4em;
$button-m-height: 2.25em;
$button-radius: 0.18em;
$button-font-size: 0.875em;